@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* Global */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    --color-background: hsl(233, 47%, 7%);
    --color-card: hsl(244, 38%, 16%);
    --color-light-text: #1B1937;
    --color-purple: hsl(277, 64%, 61%);
    --color-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-headings: hsla(0, 0%, 100%, 0.6);
    --mobile-card-width: 90%;
    --desktop-card-width: 70rem;
    --fontsize-paragraph: 0.9375rem;
    --fontsize-heading: 2.25rem;
    --fontsize-li-span: 1.5rem;

    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--color-card);
    max-width: var(--mobile-card-width);
    /*padding: calc(var(--mobile-card-width) / 10);*/

    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
}

ul {
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    padding: 0;

    margin-top: 2.5rem;
    margin-bottom: 0;
}

li {
    margin-top: 1rem;
}

p {
    font-size: var(--fontsize-paragraph);
}

h1 {
    font-size: var(--fontsize-heading);
}

img {
    max-width: 100%;
}

/* Combinations */

h1 > span {
    color: var(--color-purple);
}

h1,
p,
li {
    text-align: center;
}

h1,
li > p {
    margin-top: 0;
}

h1,
li > span {
    color: white;
    font-size: var(--fontsize-li-span);
    font-weight: bold;
}

p,
li {
    color: var(--color-paragraph);
    font-weight: normal;
}

li > p {
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: normal;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;

    margin-bottom: 0;
}

/* Classes */

.banner-photo {

}

/* Id's */

#photo-section {
    grid-row: 1;

    min-height: 15rem;
    max-width: 100%;
    background-image:
            linear-gradient(var(--color-purple), var(--color-purple)),
            url("../images/image-header-mobile.jpg");
    background-size: cover;
    background-blend-mode: color;
}

#text-section {
    padding: 1.5rem;
}

/* Media queries */

/* Desktop size */
@media screen and (min-width: 550px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    ul {
        display: flex;
        gap: 4rem;
    }

    h1,
    p {
        text-align: start;
    }

    li,
    li > p {
        display: inline;
    }

    li > span {
        display: block;
    }

    #photo-section {
        grid-column: 2;
    }

    #text-section {
        padding: 14rem;
    }
}
